body {
    margin: 0;
    /* font-family: 'Nunito', sans-serif; */
    overflow-x: hidden;
    height: 100%;
}

/* HOME SECTION */
.centralContainer {
    color: white;
}

.topbeforenav {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003161;
}


.firstnav {
    width: 50%;
    display: flex;
    align-items: center;
}

.insidenav {
    width: 30%;
    display: flex;
    align-items: center;
}

.insidenav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.insidenav a:hover {
    color: #12f3d5;
    border: none;
    border-bottom: 2px solid white;
}

.insidenav a.active {
    color: #12f3d5;
    border: none;
    border-bottom: 2px solid white;
}

.firstnav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstnav ul li {
    list-style: none;
    cursor: pointer;
}

.topsocials {
    width: 15%;
    margin-right: 40px;
}

.innertopsocials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topsocials img {
    cursor: pointer;
}

.socialstop {
    display: flex;
    justify-content: space-between;
}

.socialstop img {
    width: 18px;
    height: 18px;
}


.topsocials img:hover {
    background-color: rgb(173, 165, 194);
}

@media screen and (max-width:600px) {
    .topbeforenav {
        display: flex;
        flex-direction: column;
    }

    .firstnav {
        width: 250px;
        display: flex;
        align-items: flex-start;
        margin-right: auto;
    }

    .insidenav {
        width: 300px;
        display: flex;
        align-items: flex-start;
        margin-right: auto;
    }

    .topsocials {
        background-color: #003161;
        width: 100%;
        margin: 0;
        margin-top: -5px;
        padding-top: 10px;
        padding-right: 20px;
    }

    .socialstop {
        width: 60%;
        margin-left: auto;
        padding-right: 20px;
    }

    .mobilespacing {
        padding-bottom: 30px;
    }


}

@media screen and (min-width: 602px) and (max-width: 991px) {
    .firstnav{
        width: 100%;
    }
    .insidenav{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .topsocials{
        width: 50%;
    }
    .socialstop{
        margin-left: auto;
        width: 100%;
    }

}

.logoandmainnav {
    width: 100vw;
    height: 60px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logoandmainnav ul {
    display: flex;
    align-items: center;
    margin-right: 70px;
    justify-content: space-between;

}

.logoandmainnav ul li {
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    font-family: poppins-semibold, sans-serif;
    -webkit-font-smoothing: antialiased;
    list-style: none;
}

.logoandmainnav ul li:hover {
    color: rgb(71, 71, 242);
}

.logoandmainnav ul a {
    text-decoration: none;

}

.backgroundimage {
    background-image: url('./assets/other_images/bgimage.jpg');
    background-repeat: repeat;
    width: 100vw;
    height: 600px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.belowslides {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextsection {
    background-color: #003161;
    color: white;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    font-family: poppins-semibold, sans-serif;

}

.nexsecinner {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nextsection img {
    width: 40%;
    height: 320px;
    margin-right: 40px;
    border-radius: 10px;
    border: 4px solid #fff;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.9),
        0 0 8px rgb(0, 255, 255, 0.8),
        0 0 16px rgb(0, 255, 255, 0.6),
        0 0 24px rgb(0, 255, 255, 0.4);
}

#shim {
    background-color: #003161;
}

#shim:hover {
    background-color: white;
}

.nextsectiontext {
    width: 100%;
    height: fit-content;
    font-size: 16px;
    line-height: 1.5;
    font-family: poppins-semibold, sans-serif;
}

@media screen and (max-width:600px) {
    .backgroundimage {
        background-image: url('./assets/other_images/bg4.jpg');
        width: 100%;
        height: fit-content;
    }

    .backgroundimage {
        width: 100%;
    }

    .belowslides {
        width: 100%;
        display: flex;
        padding-top: 30px;
        flex-direction: column;
    }

    .openspace-content {
        width: 100%;
    }

    .nextsection {
        display: flex;
        align-items: center;
    }

    .nexsecinner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nexsecinner img {
        width: 100%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width:602px) and (max-width: 991px) {
    .nexsecinner {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nexsecinner img {
        width: 45%;
        height: 230px;
    }

    .nextsectiontext {
        width: 50%;
    }

    .backgroundimage {
        background-image: url('./assets/other_images/bgimage.jpg');
        width: 100%;
        height: fit-content;
    }

    .backgroundimage {
        width: 100%;
    }

    .belowslides {
        width: 100%;
        height: fit-content;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
}


/* IMAGE CARD AREA */

.imagelinkdesign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 5px;
    font-family: poppins-semibold, sans-serif;
}

@media screen and (max-width: 600px) {
    .imagelinkdesign {
        display: flex;
        flex-direction: column;
    }
}

.imagecard-container {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-card {
    position: relative;
    width: 400px;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: poppins-semibold, sans-serif;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: scale(1.1);
    transition: transform 0.6s ease
}

.image-card .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: background 0.6s ease;
}

@media screen and (max-width:600px) {
    .image-card .overlay {
        background: rgba(0, 0, 0, 0.01);
    }

    .image-card {
        width: 100%;
    }

    .image-card img {
        width: 100%;
    }
}

/* text area */
.image-card .text-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    transform: translateY(0);
    transition: transform 0.6s ease;
}

.image-card .text-box h3 {
    margin: 0 0 5px;
    font-size: 18px;
}

.image-card .text-box p {
    margin: 0;
    font-size: 14px;
}

/* hover effect */
.image-card:hover img {
    transform: scale(1);
}

.image-card:hover .overlay {
    background: rgba(0, 0, 0, 0.1);
}

.image-card:hover .text-box {
    transform: translateY(-10px)
}

@media screen and (min-width: 602px) and (max-width: 991px) {
    .imagelinkdesign {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .image-card {
        width: 100%;
    }
}

/* END IMAGE CARD AREA */

/* who we are */
.whweare {
    background-color: #003161;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whereinner {
    width: 60%;
    font-family: poppins-semibold, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {
    .whereinner {
        width: 80%;
    }

}

/* end who we are */

.darkerline {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 30px;
}

.innergray {
    width: 70%;
    display: flex;
}

#seconeone {
    background-color: gray;
}

#innerglow {

    margin-right: 50px;
}

/* open space content */
.belowslides {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.insidecontent {
    width: 80%;
}

.openspace-content {
    width: 30%;
    height: fit-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px;
    font-family: poppins-semibold, sans-serif;
    transition: background-color 0.6s ease;
}

@media screen and (max-width:600px) {
    .openspace-content {
        width: 100%;
        height: fit-content;
        margin-bottom: 40px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@media screen and (min-width:602px) {
    .openspace-content {
        width: 80%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        margin-top: 30px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 1.5;
        font-family: poppins-semibold, sans-serif;
        transition: background-color 0.6s ease;
    }
}

.openspace-content:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.openspace-content button {
    border: 2px solid #12f3d5;
    background-color: rgba(0, 0, 0, 0.1);
    width: 130px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.9s ease;

}

.openspace-content button:hover {
    border: 1px solid yellow;
    transform: translateY(-10px)
}


.closesection {
    width: 100%;
    background-color: gray;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

.clsesecinner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.closesection img {
    width: 40%;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.9),
        0 0 8px rgb(0, 255, 255, 0.8),
        0 0 16px rgb(0, 255, 255, 0.6),
        0 0 24px rgb(0, 255, 255, 0.4);
}

.closetext {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 16px;
    line-height: 1.5;
    font-family: poppins-semibold, sans-serif;
}

.sectionbutton {
    width: 120px;
    height: 40px;
    border: 1px solid #12f3d5;
    border-radius: 5px;
    background-color: gray;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.sectionbutton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;

}

@media screen and (max-width: 600px) {
    .closesection {
        display: flex;
        flex-direction: column;
    }

    .closetext {
        width: 80%;
        margin-bottom: 40px;
        line-height: 1.5;
    }

    .clsesecinner {
        display: flex;
        flex-direction: column;
    }

    .clsesecinner img {
        width: 80%;
        height: 250px;
    }
}

@media screen and (min-width: 602px) and (max-width: 991px) {
    .clsesecinner {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .closetext {
        width: 47%;
    }

    .clsesecinner img {
        width: 47%;
        height: 250px;
    }
}

/* END HOME SECTION */


/* ABOUT US SECTION */
#aboutimage {
    object-fit: cover;
}

.aboutTop {
    width: 100%;
    height: fit-content;
    /* background-color: #F5F5F0; */
    background: rgb(245, 233, 233);
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
}

.banerimg {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

@media screen and (max-width:600px) {
    .banerimg {
        width: 100%;
        height: 300px;
    }
}

.missionContainer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
}

.missionVision {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.dipoplex {
    font-size: 16px;
    color: black;
    font-family: poppins-semibold, sans-serif;
}

.aboutmiss {
    color: black;
}

#dip1 {
    display: flex;
    line-height: 1.6;
}

#dip2 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.bibimage {
    width: 50%;
    padding-top: 20px;
    margin-left: 90px;
    padding-right: 30px;
    border-radius: 10px 10px;
    height: 350px;
}

.aboutTopInner {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.aboutTop img {
    width: 450px;
    height: 500px;
    border-radius: 10px;
    margin-right: 45px;
}

.topContaoner {
    display: flex;
}

.abouttoptext {
    width: 40%;
    color: black;
    font-family: poppins-semibold, sans-serif;
}

.abouttoptext h3 {
    font-size: 20px;
}

.abouttoptext p {
    line-height: 1.5;
    color: black;
}

.abtsecondlayer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #003161;
    color: white;
}

.innerbbtContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0 20px 0;
}

.dipo {
    width: 45%;
}

.dipos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#dipi {
    width: 45%;
}

.dipo h4 {
    font-weight: bold;
}

.innerbbtContainer h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-family: poppins-semibold, sans-serif;
}

.innerbbtContainer p {
    font-family: poppins-semibold, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: black;
}

.serviceContaind {
    display: flex;
    justify-content: space-between;
}

.aboutcontent {
    color: white;
    font-size: 16px;
    line-height: 1.5;
    font-family: poppins-semibold, sans-serif;
}

@media screen and (max-width:600px) {

    .aboutTopInner {
        display: flex;
        flex-direction: column;
    }

    .abouttoptext {
        width: 100%;
        margin-top: 15px;
    }

    .aboutTopInner img {
        width: 100%;
    }

    .serviceContaind {
        display: flex;
        flex-direction: column;
    }

    .dipo {
        width: 100%;
    }

    .innerbbtContainer {
        display: flex;
        flex-direction: column;
    }
}

.catchlineceo {
    background-color: rgb(8, 8, 8);
    width: 100%;
    height: fit-content;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: poppins-semibold, sans-serif;
}

.innerceo {
    width: 80%;
    display: flex;
}

.ceoimage {
    position: relative;
    width: 400px;
    margin-right: 30px;
}

@media screen and (max-width:600px) {
    .ceoimage {
        width: 100%;
    }
}

.imagetitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.imagetitle h4 {
    margin-top: -10px;
    color: rgb(184, 174, 174);
}

.ceospeech {
    width: 45%;
    line-height: 1.7;
    margin-left: 50px;
}

@media screen and (max-width:600px) {

    .innerceo {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .ceospeech {
        width: 100%;
        margin-left: 0;
    }

    #dip1 {
        display: flex;
        flex-direction: column;
    }

    #dip2 {
        display: flex;
        flex-direction: column;
    }

    .bibimage {
        width: 100%;
        height: 200px;
        padding-left: 2px;
        margin: 0;
    }

    .dipos {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #dipi {
        width: 100%;
    }
}

@media screen and (min-width: 602px) and (max-width: 991px) {
    .banerimg {
        width: 100%;
        height: 200px;
    }

    .aboutTop img {
        width: 300px;
        height: 500px;
        border-radius: 10px;
        margin-right: 45px;
    }

    .aboutTopInner {
        display: flex;
        flex-direction: row;
    }

    #dip1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .aboutmiss {
        width: 50%;
    }

    #dip2 {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    #innerdip2 {
        width: 80%;
    }

    .bibimage {
        width: 300px;
        height: 200px;
        margin: 0;
    }

    .catchlineceo {
        background-color: rgb(8, 8, 8);
        width: 100%;
        height: fit-content;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: poppins-semibold, sans-serif;
    }

    .innerceo {
        display: flex;
        align-items: flex-start;
    }

    .ceoimage {
        width: 250px;
        margin-right: 10px;
    }




}

/* END ABOUT US SECTION */

/* SERVICES PAGE */
.servicebanner {
    width: 100%;
    height: 650px;
    margin-bottom: 0;
}

.upperservicelayer {
    background-color: #F7F5EB;
}

.serviceLayer {
    width: 89%;
    height: fit-content;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    font-family: poppins-semibold, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.serviceLayer h3 {
    font-size: 20px;
}

.serviceLayer h4 {
    margin-bottom: -5px;
}

.serviceLayer p {
    margin-bottom: 30px;
    font-weight: 100;
    color: black;
}

.servicesections {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.servicebuttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.servicebuttons button {
    border: none;
    cursor: pointer;
    background-color: #F7F5EB;
    font-size: 16px;
    height: 40px;
}

.servicebuttons button:hover {
    color: black;
    border-bottom: 3px solid #12f3d5;
}

.servicebuttons button.boddy {
    color: blue;
    border-bottom: 3px solid #12f3d5;
}

.aspirinImage {
    width: 100%;
    margin-top: 10px;
}

.sections {
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin-top: 10px;
}

@media screen and (max-width:600px) {
    .servicebanner {
        width: 100%;
        height: 200px;
    }
}

@media screen and (min-width: 602px) and (max-width: 991px) {
    .servicebanner {
        width: 100%;
        height: 350px;
    }
}

/* different pages section of the services */
.desktop-only {
    display: flex;
}

.mobile-only {
    display: none;
}

/* Tablet & Mobile */
@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
        margin-bottom: 20px;
    }

    .service-dropdown select {
        background-color: #003161;
        color: white;
        font-weight: bold;
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
    }
}


/* END SERVICES PAGE */

/* PROGRAMS PAGE */
.programContainer {
    width: 100%;
    background-color: white;
    height: fit-content;
    color: black;
    font-size: 16px;
    line-height: 1.6;
    font-family: poppins-semibold, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.progsinner {
    width: 80%;
}

.progsinner h3 {
    font-size: 20px;
}

.progsinner h4 {
    margin-bottom: 10px;
    font-weight: 400px;
}

.progbytwo {
    display: flex;
    justify-content: space-between;
}

.progsectioncontainer {
    width: 45%;
}

.progsectioncontainer h4{
    margin-bottom: 10px;
}

.progcontent {
    margin-bottom: 10px;
}

.belowprog {
    width: 100%;
    height: fit-content;
    background-color: #003161;
    color: white;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: poppins-semibold, sans-serif;
    display: flex;
    align-items: center;
}

.belowprog div {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    width: 80%;
}

@media screen and (max-width:600px) {

    .progbytwo {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .progsectioncontainer {
        width: 100%;
    }

    .progcontent {
        width: 100%;
    }
}

/* END PROGRAMS PAGE */

/* BUSINESS SCHOOL */
.bschool {
    width: 100%;
    height: 600px;
}

.busi-school {
    width: 100%;
    background: rgb(245, 233, 233);
    margin-top: -5px;

}

.businesscontainer {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    font-family: poppins-semibold, sans-serif;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
}

.businesscont {
    width: 100%;
    background-color: #003161;
}

.businesssecond-line {
    font-family: poppins-semibold, sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    height: fit-content;
    color: white;
    display: flex;
    font-size: 16px;
}

.businesssecond-line img {
    border-radius: 10px;
    margin-right: 25px;
    width: 40%;
    height: 320px;
}

.businesstext {
    line-height: 1.5;
}

.businesstext h4 {
    margin-bottom: 3px;
}

.numbusiness {
    background: rgb(245, 233, 233);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.theprofbusiness {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 16px;
    font-family: poppins-semibold, sans-serif;
    line-height: 1.6;
}

.alab{
    width: 200px;
    height: 90px;
}

.handshake{
    width: 100%;
    height: 250px;
    object-fit:fill;
}
@media screen and (max-width:600px){
    .handshake{
        height: 150px;
    }
}

.financeContainer{
    width: 100%;
    background-color: white;
    color: black;
    font-family: poppins-semibold, sans-serif;
}

.insidefinancePositioning{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media screen and (max-width: 900px){
    .insidefinancePositioning{
        width: 80%;
    }
}

.alabcontent{
    width: 60%;
    font-family: poppins-semibold, sans-serif;
}

.alabcontent h3{
    font-size: 20px;
    line-height: 1.6;
}

.alabcontent p{
    font-size: 16px;
    line-height: 1.6;
}

.modules{
    width: 100%;
    padding: 10px;
}

.modules h3{
    font-size: 20px;
    line-height: 1.6;
}

.alabimage{
    width: 400px;
    height: auto;
    margin-left: 30px;
}
@media screen and (max-width:950px){
    .alabimage{
        width: 100%;
        margin-left: 0;

    }
    .alabcontent{
        width: 100%;
    }
}

.insidemodules{
    display: flex;
    align-items: center;
    background-color: #EFF3EA;
    width: fit-content;
    padding: 20px;
}

.insidemodules p{
    font-family: poppins-semibold, sans-serif;
    line-height: 1.9;
    font-size: 16px;
}
@media screen and (max-width:950px){
    .modules{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .insidemodules{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .insidemodules p{
        text-align: left;
        margin-right: auto;
    }
}

.packagesContainer{
    display: flex;
    flex-direction: column;
    font-family: poppins-semibold, sans-serif;
    margin-top: 30px;
}

.allPackages{
    display: flex;
    justify-content: space-between;
}

.packagesinfo{
    position: relative;
    width: 31%;
    background-color: #FBFBFB;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
}

@media screen and (max-width: 950px){
    .allPackages{
        display: flex;
        flex-direction: column;
    }
    .packagesinfo{
        width: 350px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 650px){
    .allPackages{
        display: flex;
        flex-direction: column;
    }
    .packagesinfo{
        width: 80%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px){
    .packagesinfo{
        width: 90%;
        margin-bottom: 20px;
    }
}

.packagename{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.ruler{width: 70%;}

.packagewriteup{
    line-height: 1.6;
    font-size: 16px;
}

.PackagePrice{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.packagewriteup p{
    padding: 20px;
}

.packageinfobottom{
    background-color: #003161;
    border-radius: 0 0 20px 20px;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
}

.btnlink{
    height: 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.btnlink:hover{
    background-color: #3674B5;
}

#multipleprice{
    font-size: 18px;
    padding: 0 20px;
    text-align: center;
}


.theprofbusiness h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.progsides {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.progsides p {
    width: 30%;
}

.businndownsec {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f4f5e8;
}

.secondbusinndownsec {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.insidebus {
    color: black;
    font-size: 16px;
    font-family: poppins-semibold, sans-serif;
    line-height: 1.6;
    display: flex;
}
.insidebus img {
    border-radius: 5px;
    width: 50%;
    height: 320px;
}
/* ==================================== */


.imagegal1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.imagegal1 img{
    border-radius: 5px;
    margin: 5px;
    width: 100%;
    height: 350px;
}

@media screen and (max-width:900px){
    #galleryimages1{
        width: 80%;
    }
    .imagegal1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .imagegali img{
        width: 50%;
        height: auto;
    }
}
@media screen and (max-width:600px){
    #galleryimages1{
        width: 100%;
    }
    .imagegal1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .galleryimage{
        width: 300px;
        height: 200px;
    }
}

#fort2 img {
    margin-right: 30px;
}

#fort3 img {
    margin-left: 30px;
}

.underimage {
    margin-top: 10px;
}

#showimagein {
    display: none;
}


@media screen and (max-width:600px) {
    .bschool {
        width: 100%;
        height: 200px;
    }

    .businessSchoolContainer {
        width: 100%;
    }

    .businesssecond-line {
        display: flex;
        flex-direction: column;
    }

    .businesssecond-line img {
        width: 90%;
    }

    .progsides {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .progsides p {
        width: 100%;
    }

    #fort2 {
        display: flex;
        flex-direction: column;
    }

    #fort2 img {
        width: 100%;
    }

    #fort3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #secondbusinessimg {
        display: none;
    }

    #showimagein {
        display: block;
        width: 100%;
        border-radius: 4px;
    }
}

@media screen and (min-width:602px) and (max-width:1070px) {
    .businesssecond-line {
        width: 80%;
        display: flex;
        align-items: flex-start;
    }

    #showimagein {
        display: none;
    }

    .businesssecond-line img {
        width: 300px;
        height: 200px;
    }

    .theprofbusiness {
        width: 100%;
    }

    .theprofbusiness h3 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .progsides {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .progsides p {
        width: 100%;
    }

    .insidebus img {
        width: 300px;
        height: 200px;
    }

    #secondbusinessimg {
        margin-top: 25px;
    }
   
}

.facultyContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    color: black;
}
.txtcont{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.factext{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.facultyMembers{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
        margin-left: auto;
    margin-right: auto;

}

.fac1{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

@media screen and (max-width:600px){
    .facultyMembers{
        display: flex;
        justify-content: center;
    }
    
    .fac1{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}
}

@media screen and (max-width:900px){
    .fac1{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
}

/* END BUSINESS SCHOOL */

/* COMMUNITIES START */

.commucontent1 {
    width: 100%;
    margin-top: -5px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #EEEFE0;
    color: black;
    font-size: 16px;
    line-height: 1.6;
    font-family: poppins-semibold, sans-serif;
}

.commucontent2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.commucontent2 h3 {
    font-size: 20px;
}

.inincom {
    display: flex;
    justify-content: space-between;

}

.comsec1 {
    width: 45%;
}


@media screen and (max-width:600px) {
    .communitysec img {
        width: 100%;
        height: 200px;
    }

    .inincom {
        display: flex;
        flex-direction: column;
    }

    .comsec1 {
        width: 100%;
    }
}

/* END COMMUNITIES  */


/* INSIGHTS START */
.bannerimgi {
    width: 100%;
    height: 600px;
}

.insightcorner {
    width: 100%;
}

.insightlayer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.insoghtcontainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.insoghtcontainer h3 {
    font-size: 20px;
    color: black;
    font-family: poppins-semibold, sans-serif;
}

.insoghtcontainer p {
    color: black;
    line-height: 1.6;
    font-size: 16px;
    font-family: poppins-semibold, sans-serif;
}

/* END INSIGHTS START */

/* FOOTER SECTION */

.consultcenter {
    width: 100%;
}

.theFormSection {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* end open space content */
/* Book a consultation */
.infoclass {
    display: flex;
    flex-direction: column;
    font-family: poppins-semibold, sans-serif;
}

.infoclass h3 {
    font-size: 20px;
    margin-right: auto;
}

.contactdetails {
    display: flex;
    flex-direction: column;
}

.firstinfo img {
    width: 25px;
    height: 20px;
    margin-right: 20px;
}

.firstinfo {
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-bottom: 15px;
}

/* End Book a consultation */


.Formarea {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.innerform {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    flex-direction: column;
}

.innerform input {
    width: 40%;
    height: 20px;
    margin: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.theform {
    display: flex;
    margin-bottom: 20px;
}

.flatline {
    width: 70px;
    height: 3px;
    border: none;
    background: linear-gradient(90deg, #003161, white, #003161);
}

.innerform textarea {
    width: 83%;
    height: 50px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 16px;
    border: none;
    resize: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.submitbtn {
    width: 84%;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}

.submitbtn:hover {
    background-color: rgb(162, 154, 154);
    color: black;
}

.footersection {
    background-color: #003161;
    width: 100%;
    height: 350px;
}

.innercontainer {
    display: flex;
}

.catchlinestar {
    width: 25%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(232, 229, 223);
    font-family: poppins-semibold, sans-serif;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.catchlinestar img {
    width: 150px;
    height: auto;
}

.catchlinestar h5 {
    font-size: 14px;
    text-align: center;
    margin-top: -20px;
    color: gray;
}

.footerlinknav {
    width: 100%;
    font-family: poppins-semibold, sans-serif;
    color: white;
}

.footerlinknav h3 {
    font-size: 16px;
    font-weight: 600;
}

.footerlinknav h4 {
    font-size: 14px;
    cursor: pointer;
    color: lightgray;
}

.footerlinknav h4:hover {
    color: white;
}

.inlinlnav {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding-right: 150px;
    padding-top: 40px;
}

.socials img {
    width: 100px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 3px;
}

@media screen and (max-width: 600px) {
    .theFormSection {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .consultcenter {
        height: fit-content;
        margin-bottom: 80px;
    }

    .infoclass {
        width: 100%;
        margin-bottom: 50px;
    }

    .Formarea {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .footersection {
        width: 100%;
        height: fit-content;
    }

    .innercontainer {
        display: flex;
        flex-direction: column;
    }

    .catchlinestar {
        width: 100%;
    }

    .footerlinknav {
        width: 100%;
    }

    .inlinlnav {
        width: 80%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 20px;
    }

    .tam {
        margin-bottom: 20px;
    }

    .socials img {
        cursor: pointer;
        margin: 8px;
    }
}

@media screen and (min-width: 602px) and (max-width: 991px) {
    .consultcenter {
        width: 100%;
        margin-bottom: 10px;
    }

    .theFormSection {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }

    .innercontainer {
        display: flex;
        flex-direction: row;
    }

    .catchlinestar {
        width: 150px;
    }

    .catchlinestar img {
        width: 90px;
        height: 90px;
        margin-top: -28px;
    }

    .inlinlnav {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        padding-top: 10px;
        padding-right: 20px;
    }

    .tam {
        text-align: left;
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
    }

    .tam a {
        text-decoration: none;
    }

    .catchlinestar h3 {
        font-size: 20px;
        text-align: center;
    }
}

/* END FOOTER SECTION */